<!-- views/home.handlebars -->
{{#if user}}
  <div class="jumbotron">
    <h1>LDAP User Authentication</h1>
    <p>Below is your profile information!</p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
      <p><b>Username: </b>{{user}}</p>
      <p><b>Fabric enrollment status: </b>{{userEnrolled}}</p>
      <p><b>Outgoing Transfers:</b></p>
      <table>
        <tr>
          <th>File Hash</th>
          <th>Recipient</th>
        </tr>
        {{#each userOriginatedTransfers}}
          <tr>
            <td>{{this.Record.fileHash}}<br>
            <td>{{this.Record.recipient}}</td>
          </tr>
        {{else}}
          No outgoing transfers to display
        {{/each}}
      </table>
      <br>
      <p><b>Incoming Transfers:</b></p>
      <table>
        <tr>
          <th>File Hash</th>
          <th>Originator</th>
          <th>Actions</th>
        </tr>
        {{#each userRecipientTransfers}}
          <tr>
            <td>{{this.Record.fileHash}}<br>
            <td>{{this.Record.recipient}}</td>
            <td><button type="button" onclick=openFromIPFS("{{this.Record.fileHash}}", "{{this.Record.fileName}}", "{{this.Record.uuid}}")>Open</button></td>
          </tr>
        {{else}}
          No inbound transfers to display
        {{/each}}
      </table>
      
      {{#if userEnrolled}}
        <form id="upload-file" action="/upload-file" method="post" encType="multipart/form-data">
        <h2>File Upload</h2>
        Recipient: <input id="upload-desination" name="recipient" type="text"/><br>
        File: <input id="upload-filename" name="uploadFilename" type="file"/>
        <input type="submit" class="btn btn-primary btn-sm" value="Upload"/>
        </form>
      {{else}}
        Please register with Fabric to continue.
      {{/if}}
      {{message}}
    </div>
  </div>

{{else}}
  <div class="jumbotron">
    <h1>LDAP User Authentication</h1>
    <p>Sign in and interact with Hyperledger Fabric!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign in!
      </a>
    </p>
  </div>

{{/if}}
<script type="text/javascript" src="ipfs-mini.min.js"></script>
<script>
  function openFromIPFS(fileHash, filename, uuid){
    console.log(fileHash);
    var ipfs = new IPFS({host: 'ipfs.infura.io', port: '5001', protocol: 'https'});
    ipfs.cat(fileHash, (err, result) => {
      if(err) {
        console.log("ERROR: ", err);
      } else {
        console.log("Success:");
        console.log(result);
        // TODO: save result as filename
        // TODO: log the fact that we have completed this transfer
        /*fetch('/transferComplete', {
          method: 'post',
          body: JSON.stringify({
            uuid: uuid
          })
        }); */
      }
    });
  }
</script>