<!-- views/home.handlebars -->
{{#if user}}
  <div class="jumbotron">
    <h1>LDAP User Authentication</h1>
    <p>Below is your profile information!</p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
      <p>Username: {{user}}</p>
      <p>Fabric enrollment status: {{userEnrolled}}</p>
      <p>Outgoing Transfers: {{userOriginatedTransfers}}</p>
      <p>Incoming Transfers: {{userRecipientTransfers}}</p>
      <form id="upload-file" action="/upload-file" method="post" encType="multipart/form-data">
      <h2>File Upload</h2>
      Recipient: <input id="upload-desination" name="recipient" type="text"/><br>
      File: <input id="upload-filename" name="uploadFilename" type="file"/>
      <input type="submit" class="btn btn-primary btn-sm" value="Upload"/>
      </form>
      {{message}}
    </div>
  </div>

{{else}}
  <div class="jumbotron">
    <h1>LDAP User Authentication</h1>
    <p>Sign in and interact with Hyperledger Fabric!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign in!
      </a>
    </p>
  </div>

{{/if}}